---
title: Home
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body style="margin: 0;">
    {% include header.html %}

    <main>
      <section class="card-body course-heading">
        <h1 class="heading">
            <img class="logo" src="images/favicons/uiuc.png"/>CS 341: System Programming
        </h1>
        <h1 class="heading">
            {{ site.data.constants.semester_full_name }}
        </h1>
      </section>
      <section class="latest-assignments">
            <h2 class="centered">
                Latest Assignments
            </h2>
            <section class="flexbox">
                <section class="flexbox-item latest-mp">
                    <h2>
                        MP 
                    </h2>
                    {% assign latest_mp = nil %}
                    {% for mp in site.data.assignments["mps"] %}
                    {% if mp.visible %}
                    {% assign latest_mp = mp %}
                    {% endif %}
                    {% endfor %}
                    {% if latest_mp %}
                    <h3>
                        <a href="/assignments/{{ latest_mp.url }}">{{ latest_mp.name }}</a>
                    </h3>
                    <p>
                        Due: {{latest_mp.dueDate}} · {{ latest_mp.submissions[0].due_date }}
                    </p>
                    {% else %}
                    <h3>
                        Come back later!
                    </h3>
                    {% endif %}
                </section>
                <section class="flexbox-item latest-lab">
                    <h2>
                        Lab 
                    </h2>
                    {% assign latest_lab = null %}
                    {% for lab in site.data.assignments["labs"] %}
                    {% if lab.visible %}
                    {% assign latest_lab = lab %}
                    {% endif %}
                    {% endfor %}
                    {% if latest_lab %}
                    <h3>
                        <a href="/assignments/{{ latest_lab.url }}">{{ latest_lab.name }}</a>
                    </h3>
                    <p>
                        Due: {{latest_lab.dueDate}} · {{ latest_lab.submissions[0].due_date }}
                    </p>
                    {% else %}
                    <h3>
                        Come back later!
                    </h3>
                    {% endif %}
                </section>
            </section>
      </section>
      <section class="card-body course-description">
          <h2>Bring Your Own Laptop!</h2>
          <p>Some students like annotate a pdf handouts during lecture but paper handouts are also provided. Bring your own Windows, Linux, or MacOSX laptop to your CS341 discussion sections because the lab will not have desktop machines. A Chromebook with Linux enabled may work but is not recommended. The recommended minimum laptop specification for CS341 is: i) A basic 10 year-old laptop if you just want to write code using VS Code locally but compile and test remotely using the CS Cloud  : <a href='https://code.visualstudio.com/Docs/supporting/requirements'/>VS Code minimum requirements</a>. Alternatively, to run a multi-CPU core Linux locally (e.g. by running a Linux Virtual Machine on your laptop) then you will need something newer and powerful e.g. i5 x64 4-core 8th generation (or similar) CPU, 8GB RAM (16GB recommended), 100 GB Disk Space, SSD recommended. High-end gaming laptops are not recommended because they are bulky, heavy and have poor battery life.</p>.
          
          <p>There is the new loaner laptop program run by the Main Library <a target='_blank' href='https://www.library.illinois.edu/sc/'>Scholarly Commons</a> at the 3<sup>rd</sup> floor of the U of I Main Library (Room 306, <a href='http://ada.fs.illinois.edu/0041.html' target='_blank' >ADA Map</a>). You may borrow a laptop for up to 10 days e.g. while waiting for your laptop - just bring your physical ICARD. A typical loaner laptop is a 2020 Windows Dell Latitude 5310, i5 Core 15-10210, 16GB, 512GB SSD with local admin rights to install software.</p>
          
          <p>There is also a limited laptop <a href="https://go.illinois.edu/laptoploan">loaner program</a> by EngrIT for students and faculty in the Grainger College of Engineering</p>
        <h2>
          Course Description
        </h2>
        <p>
            This course is designed to challenge you as a programmer and new
            computer scientist at the University of Illinois Urbana-Champaign. 
            Rather than the sand-boxed, contained, and simple problems of your previous courses that
            used significant scaffolding and pre-built libraries, you will be
            interacting with a much more complex environment: the entire system and
            even computing networks. 
        </p>
        
        <p>
            You will need to fully understand how memory is allocated, used, and re-used within a process. 
        </p>
        
        <p>
            You will also need to know how input and output can be optionally buffered between
            processes and files. 
        </p>
        
        <p>
            In short, it is time to remove the training wheels
            off and instead fling open the doors, welcoming you to the big, wide
            world of computing. 
        </p>
        
        <p>
            Oh, and did we mention the challenge of concurrency
            and solving asynchronous problems, so that your program can take
            advantage of the multi-core CPU inside each machine?
        </p>

      </section>
      </section>
        <section class="card-body course-information">
            <section class="flexbox row">
                <section class="flexbox-item col-sm-6 col-xs-12">
                    <h2>
                        Time and Location
                    </h2>
                    <p>
                        <strong>Instructor: </strong>{{ site.data.constants.instructor }}
                    </p>
                    <p> Peer tutoring and Office hours will be announced in week 2: <a href='peer_tutoring.html'>here</a>. Prof. Angrave's in-person office hours are Monday 10:15am in the ECEB atrium and coffee area, and also immediately after every lecture. Other times by appointment at SC2217.</p>
                    <p>
                        <strong>Recorded Lecture: </strong> : See <a href='schedule.html'>Schedule</a>
                    </p>
                    <p>
                        <strong>Class: </strong> {{ site.data.constants.location }} {{ site.data.constants.timings }} 
                    </p>
                    <p>
                        <strong>Lab Sections:</strong> See <a href='{{ site.data.constants.courses_schedule_link }}' target=_blank>courses.illinois.edu</a>
                    </p>
                </section>
                <section class="flexbox-item col-sm-6 col-xs-12">
                    <h2>
                        Getting Help
                    </h2>
                    <h3>Academic</h3>
                    <p>
                        You can find a full list of times and locations on our <a href="/peer_tutoring.html">peer tutoring calendar</a>.
                    </p>
                    <p>
                        <a
                        href="{{ site.data.constants.forum_link }}"
                        class="btn btn-primary"
                        role="button"
                        >Ed Forum</a>
                    </p>
                    <p>
                        Please read our <a href="/resources#forum-q-and-a-search-first-dont-post">forum policy, before posting.</a>
                    </p>
                  
                </section>
                <section class="flexbox-item col-sm-6 col-xs-12">
                    <h2>
                        Grading Policy (subject to minor changes)
                    </h2>
                    <p>
                        <strong>Machine Problems: </strong>45% (weekly)
                    </p>
                    <p>
                        <strong>Labs: </strong>17% (weekly, lowest lab dropped)
                    </p>
                    
                    <p>
                      <strong>Quizzes: </strong> 15% (7 quizzes, multiple re-takes, no drops). At <a href='https://www.prairielearn.org/'>PrairieLearn</a>; Available until Reading Day.
                    </p>
                    <p>
                        <strong>Final Exam: </strong>23% ; however upto 3% can be pre-credited based on physical lab attendance i.e. the fractional contribution of the final exam can be reduced.
                    </p>
                </section>
                <section class="flexbox-item col-sm-6 col-xs-12">
                    <h2>
                        Course Prerequisites
                    </h2>
                    <p>
                        <a href="https://courses.engr.illinois.edu/cs225/"><strong>CS 225: </strong>Data Structures</a>
                    </p>
                    <p>
                        <a href="https://courses.engr.illinois.edu/cs233/"><strong>CS 233: </strong>Computer Architecture</a>
                    </p>
                </section>
              <section class="flexbox-item col-sm-6 col-xs-12">
                    <h2>
                        Mental Health, anti-racism and inclusivity, and CS Cares
                    </h2>
                    <p>Please see our important course <a href="/statements">statements</a> on anti-racism and inclusivity, and information about CS Cares.
            </section>
        </section>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
