---
title: Malloc Hall of Fame
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid" id="page">
  <div class="row">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">
    <h1>Malloc Hall of Fame</h1>
    <p>Welcome to the malloc hall of fame!</p>

    <p><i>'My name is Ozymandias, king of kings; Look on my works, ye Mighty, and despair!'</i> -- Percy Bysshe Shelley</p>

    {% for semester in site.data.malloc_hof %}
    <div class="wrapper">
      <div class="pad"><div class="card">
      <div class="title"><h2>{{ semester.semester }}</h2></div>
    </div></div>

    <div class="table-responsive">
        <table class="table">
          <div class="row">
          <thead>
            <tr>
              <th class="col-md-4">Place</th>
              <th class="col-md-4">Nickname</th>
              <th class="col-md-4">Score</th>
            </tr>
          </thead>
        </div>
          <tbody>
            {% for score in semester.scores %}
              <tr>
                {% if forloop.index == 1 %}
                <td class="col-md-4" alt="first place" style="font-size:20px">🥇</td>
                {% else %}
                {% if forloop.index == 2 %}
                <td class="col-md-4" alt="second place" style="font-size:20px">🥈</td>
                {% else %}
                <td class="col-md-4" alt="third place" style="font-size:20px">🥉</td>
                {% endif %}
                {% endif %}
                <td class="col-md-4">{{ score.nickname }}</td>
                <td class="col-md-4">{{ score.score }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% include footer.html %}
</body>
</html>
