---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Past Projects</h1>
    {% for term in site.data.honors_projects %}
      <h2>{{term.term}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for project in term.projects %}
            <tr>
              <th scope="row">{{project.name}}</th>
              <td>{{project.description}}</td>
              <td>
                {% if project.link_url and project.link_title %}
                  <a href="{{project.link_url}}">{{project.link_title}}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
</div>
</div>
</body>
</html>
