---
title: Home
textsource: https://wiki.illinois.edu/wiki/pages/viewpage.action?pageId=730368067
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body style="margin: 0;">
    {% include header.html %}

    <main>
        <section class="card-body course-information">
            <section class="flexbox row">
                  <section class="flexbox-item col-sm-6 col-xs-12">
                  <h2 id='LandAcknowledgementStatement'>Land Acknowledgement Statement</h2>

                <p>We would like to begin today by recognizing and acknowledging that we are on the lands of the Peoria, Kaskaskia, Piankashaw, Wea, Miami, Mascoutin, Odawa, Sauk, Mesquaki, Kickapoo, Potawatomi, Ojibwe, and Chickasaw Nations. These lands were the traditional territory of these Native Nations prior to their forced removal; these lands continue to carry the stories of these Nations and their struggles for survival and identity.</p>

<p>As a land-grant institution, the University of Illinois has a particular responsibility to acknowledge the peoples of these lands, as well as the histories of dispossession that have allowed for the growth of this institution for the past 150 years. We are also obligated to reflect on and actively address these histories and the role that this university has played in shaping them. This acknowledgement and the centering of Native peoples is a start as we move forward for the next 150 years.</p>
                </section>
                               
                <section class="flexbox-item col-sm-6 col-xs-12">
                  <h2 id='InclusivityStatement'>Statement on anti-racism and inclusivity</h2>
<p>The intent of this section is to raise student and instructor awareness of the ongoing threat of bias and racism and of the need to take personal responsibility in creating an inclusive learning environment.

The Grainger College of Engineering is committed to the creation of an anti-racist, inclusive community that welcomes diversity along a number of dimensions, including, but not limited to, race, ethnicity and national origins, gender and gender identity, sexuality, disability status, class, age, or religious beliefs. 
  The College recognizes that we are learning together in the midst of the Black Lives Matter movement, that Black, Hispanic, and Indigenous voices and contributions have largely either been excluded from, or not recognized in, science and engineering, and that both overt racism and micro-aggressions threaten the well-being of our students and our university community.

The effectiveness of this course is dependent upon each of us to create a safe and encouraging learning environment that allows for the open exchange of ideas while also ensuring equitable opportunities and respect for all of us. Everyone is expected to help establish and maintain an environment where students, staff, and faculty can contribute without fear of personal ridicule, or intolerant or offensive language. 
  If you witness or experience racism, discrimination, micro-aggressions, or other offensive behavior, you are encouraged to bring this to the attention of the course director if you feel comfortable. You can also report these behaviors to the Bias Assessment and Response Team <a href="https://bart.illinois.edu/">BART</a>. Based on your report, BART members will follow up and reach out to students to make sure they have the support they need to be healthy and safe. If the reported behavior also violates university policy, staff in the Office for Student Conflict Resolution may respond as well and will take appropriate action.
        </p>
               </section>
               

               <section class="flexbox-item col-sm-6 col-xs-12">
<a name>
<h2 id='SexualMisconductPolicyStatement'>Statement on Sexual Misconduct Policy and Reporting</h2>

<p>The University of Illinois is committed to combating sexual misconduct. Faculty and staff members are required to report any instances of sexual misconduct to the University’s Title IX Office. In turn, an individual with the Title IX Office will provide information about rights and options, including accommodations, support services, the campus disciplinary process, and law enforcement options.</p>

<p>A list of the designated University employees who, as counselors, confidential advisors, and medical professionals, do not have this reporting responsibility and can maintain confidentiality, can be found here:  <a href="https://wecare.illinois.edu/resources/students/#confidential">wecare.illinois.edu/resources/students/#confidential</a></p>

<p>Other information about resources and reporting is available here: <a href="https://wecare.illinois.edu">wecare.illinois.edu</a></p>

             </section>
               <section class="flexbox-item col-sm-6 col-xs-12">
                 <h2 id='CSCaresStatement'>Statement on CS CARES and CS Values and Code of Conduct (Approved by CS CARES Committee, January 13, 2022)</h2>

<p>All members of the Illinois Computer Science department - faculty, staff, and students - are expected to adhere to the <a href="https://cs.illinois.edu/about/values">CS Values and Code of Conduct</a>. 
  The <a href="https://cs.illinois.edu/about/cs-cares/">CS CARES Committee</a> is available to serve as a resource to help people who are concerned about or experience a potential violation of the Code. 
  If you experience such issues, please <a href="https://cs.illinois.edu/about/cs-cares/contact">contact</a> the CS CARES Committee. 
  The Instructors of this course are also available for issues related to this class.</p>
               </section>
               <section class="flexbox-item col-sm-6 col-xs-12">
                 <h2 id='MentalHealthStatement'>Statement on Mental Health</h2>

<p>Diminished mental health, including significant stress, mood changes, excessive worry, substance/alcohol abuse, or problems with eating and/or sleeping can interfere with optimal academic performance, social development, and emotional well-being. 
  The University of Illinois offers a variety of confidential services including individual and group counseling, crisis intervention, psychiatric services, and specialized screenings at no additional cost. 
  If you or someone you know experiences any of the above mental health concerns, it is strongly encouraged to contact or visit any of the University's resources provided below. 
  Getting help is a smart and courageous thing to do -- for yourself and for those who care about you.

  Counseling Center: <a href="tel:217-333-3704">217-333-3704</a>, 610 East John Street Champaign, IL 61820

  McKinley Health Center: <a href="tel:217-333-2700">217-333-2700</a>, 1109 South Lincoln Avenue, Urbana, Illinois 61801

University wellness center: <a href="https://wellness.illinois.edu/">https://wellness.illinois.edu/</a> </p>
                </section>
           </section>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
