---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      {% include header.html %}
        <div class="page-content">
          <!-- Your content goes here -->
          <div class="row">
            <div class="col-sm-1"></div>
          	<div class="col-sm-10">
              <h1>Labs</h1>
              <p>All labs are released on Thursdays and due on the following Wednesday at 11:59pm</p>
              <!-- Desktop Table -->
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                <table width = "100%" class="table">
            		  <thead>
            		    <tr>
            		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
            		      <th class="mdl-data-table__cell--non-numeric">Release Date</th>
                      <th class="mdl-data-table__cell--non-numeric">Due Date</th>
                      <th class="mdl-data-table__cell--non-numeric">Slides</th>
                      <th class="mdl-data-table__cell--non-numeric">Handout</th>
            		    </tr>
            		  </thead>
            		  <tbody>
                    {% for lab in site.data.labs %}
                      <tr>
                        <th class="mdl-data-table__cell--non-numeric" scope="row"><a href="./{{lab.url}}.html">{{lab.name}}</a></th>
              		    	<td class="mdl-data-table__cell--non-numeric">{{lab.releaseDate}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{lab.dueDate}}</td>
                        {% if lab.resources %}

                        
                        <td class="mdl-data-table__cell--non-numeric"><a href="./lab_resources/slides/{{lab.name | downcase | replace: " ", "_"}}.html"><img src="./images/lab_assets/animation.png"></a></td>
                        
                        {% if lab.worksheet == nil or lab.worksheet != false %}
                        <td class="mdl-data-table__cell--non-numeric">
                        <a href="./lab_resources/handouts/{{lab.name | downcase | replace: " ", "_"}}.pdf"><img src="./images/lab_assets/file-document.png"></a></td>
                        {% endif %}

                        {% else %}
                        <td class="mdl-data-table__cell--non-numeric">
                        </td>
                        <td class="mdl-data-table__cell--non-numeric">
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
            		  </tbody>
            		</table>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
    </div>
  </body>
</html>
