---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      {% include header.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <div class="row">
          	<div class="small-12 medium-12 large-8 large-centered columns">
              <h1>Labs</h1>
              <p>All labs are released on Thursday and due on the upcoming Wednesday 11:59pm</p>
              <!-- Desktop Table -->
              <div class="show-for-large-up">
                <table width = "100%" class="mdl-data-table mdl-js-data-table">
            		  <thead>
            		    <tr>
            		      <th class="mdl-data-table__cell--non-numeric">Lab</th>
            		      <th class="mdl-data-table__cell--non-numeric">Release Date</th>
            		      <th class="mdl-data-table__cell--non-numeric">Due Date</th>
            		    </tr>
            		  </thead>
            		  <tbody>
                    {% for lab in site.data.labs %}
                      <tr>
                        <td class="mdl-data-table__cell--non-numeric"><a href="./{{lab.url}}">{{lab.name}}</a></td>
              		    	<td class="mdl-data-table__cell--non-numeric">{{lab.releaseDate}}</td>
              		    	<td class="mdl-data-table__cell--non-numeric">{{lab.dueDate}}</td>
                      </tr>
                    {% endfor %}
            		  </tbody>
            		</table>
              </div>
            	<!-- Mobile Table -->
            	<div class="hide-for-large-up">
                {% for lab in site.data.labs %}
                  <table width = "100%" class="mdl-data-table mdl-js-data-table" style = "margin-bottom: 5%">
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">Lab</td>
                      <td><a href="./{{lab.url}}">{{lab.name}}</a></td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">Release Date</td>
                      <td>{{lab.releaseDate}}</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">Due Date</td>
                      <td>{{lab.dueDate}}</td>
                    </tr>
                  </table>
                {% endfor %}
            	</div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
