---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-1 col-xs-0"></div>
  	<div class="col-md-7 col-10 col-xs-12">
      <h1>Labs</h1>
      <p>All labs are released on Thursdays and due on the following Wednesday at 11:59pm</p>
      <div class="table-responsive">
        <table class="table">
    		  <thead>
    		    <tr>
    		      <th>Lab</th>
    		      <th>Release Date</th>
              <th>Due Date</th>
              <th>Slides</th>
              <th>Handout</th>
    		    </tr>
    		  </thead>
    		  <tbody>
            {% for lab in site.data.labs %}
              <tr>
                <th scope="row"><a href="./{{lab.url}}.html">{{lab.name}}</a></th>
      		    	<td>{{lab.releaseDate}}</td>
                <td>{{lab.dueDate}}</td>
                {% if lab.resources %}
                <td><a href="./lab_resources/slides/{{lab.name | downcase | replace: " ", "_"}}.html" class="fancy-link wiki-link"><img src="./images/lab_assets/animation.png"></a></td>
                
                {% if lab.worksheet == nil or lab.worksheet != false %}
                <td>
                <a href="./lab_resources/handouts/{{lab.name | downcase | replace: " ", "_"}}.pdf" class="fancy-link wiki-link"><img src="./images/lab_assets/file-document.png"></a></td>
                {% else %}
                <td></td>
                {% endif %}

                {% else %}
                <td class="mdl-data-table__cell--non-numeric">
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                </td>
                {% endif %}
              </tr>
            {% endfor %}
    		  </tbody>
    		</table>
        </div>
        </div>
      <div class="col-md-3 col-1 col-xs-0"></div>
</div>
</div>
</div>
{% include footer.html %}
</body>
</html>
