---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid" id="page">
  <div class="row">
  <div class="col-md-1 col-xs-1"></div>
  <div class="col-md-10 col-xs-10">
    <h1>Malloc Contest</h1>
    <p></p>

    <div class="wrapper hidden" id="error">
      <div class="pad"><div class="card">
      <div class="title"><h2>Error!</h2></div>
      <p>Sorry! The contest server is down right now. 
      Please check back in a bit</p>
    </div>
    </div></div>

    <div class="wrapper" id="malloc-contest">
      <div class="pad"><div class="card">
      <div class="title"><h2></h2></div>
    </div></div>

    <div class="table-responsive" style="table-layout: fixed;">
      <table class="table">
        <thead id="malloc-head">
        </thead>
        <tbody id="malloc-body">
        </tbody>
      </table>
    </div>

  <style>
    .medal {
      font-size: 20px;
    }

    .test-passed {
      background-color: #2f7a35;
    }

    .test-failed {
      background-color: #b72100;
    }

    .test-passed, .test-failed {
      color: white;
    }
  </style>

  {% include footer.html %}
  <script type="text/javascript">
    "use strict";
    $(document).ready(function() {
      const roundedTime = function () {
        const time = new Date();
        const minutes = time / 60;
        const ret = minutes - (minutes % 10);
        return ret;
      };

      /* only force a cache update every 10 minutes */
      const url = 'http://cs241grader.web.engr.illinois.edu/malloc/data/results.php?v=' + roundedTime();
      $.get(url)
      .always(function(){
        /* Get rid of the loading screen */
      })
      .done(function(data){
        function add_titles(test_names) {
          const titles = test_names.map(function(name){
          const elem = $('<th></th>');
            elem.text(name);
            return elem;
          });
          titles.splice(0, 0, $('<th>Name</th>'));
          titles.splice(0, 0, $('<th class="medal">🏅</th>'));
          const title_row = $('<tr></tr>');
          title_row.append(titles);
          $('#malloc-head').append(title_row);
        }

        const formatMem = function(t) {
          var unit = "B";
          var b = 1000; // Use SI
          if (t > b) {
            t /= b;
            unit = "KB";
            if (t > b) {
              t /= b;
              unit = "MB";
              if (t > b) {
                t /= b;
                unit = "GB";
              }
            }
            t = t.toFixed(2);
          }
          return [t, unit];
        };

        const formatTime = function(t) {
          t *= 1e9;
          var unit = "ns";
          if (t > 1000) {
            t /= 1000;
            unit = "us";
            if (t > 1000) {
              t /= 1000;
              unit = "ms";
              if (t > 1000) {
                t /= 1000;
                unit = "s";
              }
            }
            t = t.toFixed(2);
          }
          return [t,unit];
        };

        function test_score(student_test_case, ta_test_case) {
          if (student_test_case.pts_earned != student_test_case.total_pts) {
            // Like -Infinity, but not quite, so we can still kinda rank bad implementations
            return -1e15;
          }
          var runtime_fudge = 0.04;  // 40ms
          var memory_fudge = 1024;  // 1KB
          var ta_run = ta_test_case.runtime + runtime_fudge;
          var st_run = student_test_case.runtime > 0 ?
              (student_test_case.runtime + runtime_fudge) : Infinity;
          var ta_avg = ta_test_case.avg_memory + memory_fudge;
          var st_avg = student_test_case.avg_memory > 0 ?
              (student_test_case.avg_memory + memory_fudge) : Infinity;
          var ta_max = ta_test_case.max_memory + memory_fudge;
          var st_max = student_test_case.max_memory > 0 ?
              (student_test_case.max_memory + memory_fudge) : Infinity;
          return (
            (1/4) * Math.log2(ta_run / st_run + 1) +
            (3/8) * Math.log2(ta_avg / st_avg + 1) +
            (3/8) * Math.log2(ta_max / st_max + 1));
        }

        function student_score(student, ta_sol) {
          const any_fail = student.test_cases.some(function (test) {
            return test.pts_earned != test.total_pts;
          });

          const keys = ta_sol.test_cases.map(function (e) {
            return e.name;
          });
          const raw_score = keys.reduce(function (acc, cv){
            const comp = function(e) {
              return e.name === cv;
            };
            const ta_test = ta_sol.test_cases.find(comp);
            const student_test = student.test_cases.find(comp);
            acc += test_score(student_test, ta_test);
            return acc;
          }, 0);
          const score = raw_score * 100 / student.test_cases.length;
          return score;
        }

        function find_ta_solution(students) {
          for(var i = 0; i < students.length; i++) {
            const obj = students[i];
            if (obj['is_ta_solution'] && obj['nickname'].trim() === 'glibc') {
              return obj;
            }
          }
          return null;
        }

        if (typeof data === "string") {
          data = JSON.parse(data);
        }

        const ta_sol = find_ta_solution(data);
        const test_names = ta_sol['test_cases']
          .map(function(e) {return e.name})
          .sort(function(a, b) {
            if (a.length != b.length) return a.length < b.length ? -1 : 1;
            if (a === b) return 0;
            return (a < b) ? -1 : 1;
          });
        add_titles(test_names);

        /* Compute and store all the rankings once */
        for (var i = 0; i < data.length; ++i) {
          const student = data[i];
          const rating = student_score(student, ta_sol);
          student.normalized_score = rating < 0 ? 0 : rating;
        }

        /* Get a sorted order for the students */
        const sorted = data.sort(function (st1, st2) {
          const st1_score = st1.normalized_score;
          const st2_score = st2.normalized_score;
          if (st1_score < st2_score) {
            return 1;
          } else if (st1_score > st2_score) {
            return -1;
          }
          return 0;
        });

        for (var i = 0; i < sorted.length; ++i) {
          const row = $("<tr></tr>");
          const student = sorted[i];
          var medal = "" + (i + 1);
          if (i == 0) {
            medal = "🥇"
          } else if (i == 1) {
            medal = "🥈"
          } else if (i == 2) {
            medal = "🥉"
          }
          const medal_data = $('<td class="medal"></td>');
          medal_data.text(medal);
          row.append(medal_data);
          const name = $('<td></td>');
          name.text(student.nickname);
          row.append(name);
          /* Verify that we are going through in the same order */
          for (var j = 0; j < test_names.length; ++j) {
            const elem = $('<td></td>');
            const comparator = function (test) {
              return test.name === test_names[j];
            };
            const test = student.test_cases.find(comparator);
            if (test === undefined) {
              console.log(student.test_cases);
              elem.text('Not Run');
              row.append(elem);
              break;
            }

            if (test.pts_earned != test.total_pts) {
              elem.text('Failed');
              elem.addClass('test-failed');
            } else {
              elem.text('Passed');
              elem.addClass('test-passed');
            }
            row.append(elem);
          }
          $('#malloc-body').append(row);
        }
      })
      .fail(function(err) {
        $('#error').removeClass('hidden');
        $('#malloc-contest').addClass('hidden');
      });
    });
  </script>
</body>
</html>
