---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-1 col-xs-0"></div>
  	<div class="col-md-7 col-10 col-xs-12">
      <h1>Machine Problems</h1>
      <p>All MPs are released Sundays and due on Mondays at 11:59pm</p>
      <div class="row">
      <div class="table-responsive">
        <table width="100%" class="table">
    		  <thead>
    		    <tr>
    		      <th>MP</th>
    		      <th>Release Date</th>
    		      <th>Due Date</th>
    		    </tr>
    		  </thead>
    		  <tbody>
            {% for mp in site.data.mps %}
              <tr>
                <th scope="row"><a href="./{{mp.url}}.html">{{mp.name}}</a></th>
      		    	<td>{{mp.releaseDate}}</td>
      		    	<td>{{mp.dueDate}}</td>
              </tr>
            {% endfor %}
    		  </tbody>
    		</table>
      </div>
      </div>
    </div>
    <div class="col-md-3 col-1 col-xs-0"></div>
  </div>
  </div>
</div>
</body>
</html>
