---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      {% include header.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <div class = "row">
          	<div class = "large-3 columns show-for-large-up"><h2><a href="https://recordings.engineering.illinois.edu:8443/ess/portal/section/bdaf2970-ca83-4651-9cbe-e6cb34cd0471"> Recordings</a></h2></div>
          	<div class = "large-3 columns show-for-large-up"><h2>Monday</h2></div>
          	<div class = "large-3 columns show-for-large-up"><h2>Wednesday</h2></div>
          	<!-- <div class = "large-2 columns show-for-large-up"><h2>Lab</h2></div> -->
          	<div class = "large-3 columns show-for-large-up"><h2>Friday</h2></div>
          </div>
          {% for week in site.data.scheduleSP17 %}
          <div class = "row" style = "padding-bottom:1%" >
            <div class = "small-12 medium-12 large-3 columns">
			  <h3>#{{ forloop.index }}: <span class = "week">{{week.week}}</span>
              <div class = "announcement" style = "color:#37474F">
                {{week.announcement}}
              </div>
            </div>
            {% for day in week.schedule %}
              <div class = "small-12 medium-12 large-3 columns">
                <div class = "small-12 medium-12 columns hide-for-large-up">
                  <h3 class = "weekday">
                    {% case forloop.index %}
                    {% when 1 %}
                    Monday
                    {% when 2 %}
                    Wednesday
                    {% else %}
                    Friday
                    {% endcase %}
                  </h3>
                </div>
                <div class="mdl-card mdl-shadow--2dp schedule-card" >
                  <div class="mdl-card__title"  style = "background-color:{{day.color}}">
                    <div class="mdl-card__title-text" style='width:100%; height: 30px; white-space: nowrap; color: white;'>
                      <span>{{day.title}}</span>
                    </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border scrollable">
                    {{day.summary}}
                  </div>
                  <div class="mdl-card__actions mdl-card--border scrollable">
                    {{day.resources}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
	<img id="schedule-chart" src="/static/schedule.svg" alt="schedule for 241" style="display:block; margin:2em auto 4em; width:90%;"/>	
      </main>
    </div>
    <script src="./js/lectures.js"></script>
  </body>
</html> 
