---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="search-page hidden">
    <h1>Search</h1>

    <div class="container-fluid">
    <div class="row row-eq-height no-gutter">
    <div class="search-icon-div col-md-1 col-sm-1 col-xs-1">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="search-box-div col-md-11 col-sm-11 col-xs-11">
    <input class="search form-control" placeholder="Search" name="search" id="search" type="text" alt="search">
    </div>
    </div>

    <div class="content">
      <ul class="results-list">
      </ul>
    </div>
    </div>
    </div>
    <div class="loader">Loading...</div>
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.0.1/lunr.min.js"></script>
    <script src="./js/search.js"></script>
  </div>
</div>
</div>
</body>
</html>
