<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="./lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="./js/main.js"></script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
      trigger: 'manual',
        container: $(this).attr('id'),
        placement: 'top',
        content: function () {
            return '<div class="hover-hovercard"></div>';
        }
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(this).siblings(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
               $(_this).popover("hide")
            }
        }, 100);
    });

    $('[data-toggle="tooltip"]').tooltip(); 
});
/*
$('[data-toggle="popover"]').on('shown.bs.popover', function () {
    var $pop = $(this);
    setTimeout(function () {
        $pop.popover('hide');
    }, 2000);
});*/
</script>
<footer class="">

<div class="container-fluid">
<div class="shadow"></div>
<!--<div class="row">
  <h4 class="col-md-3">{{ site.title }}</h4>
  {% if site.github_username %}
    <div class="col-md-3">
    {% include icon-github.html username=site.github_username %}
    </div>
  {% endif %}
  {% if site.twitter_username %}
    <div class="col-md-3">
    {% include icon-twitter.html username=site.twitter_username %}
    </div>>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <p>{{ site.description }}</p>
  </div>
</div> -->
</div>

</footer>
