<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
  <header class="mdl-layout__header">
  <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons"></i></div>
    {% capture links %}
      <a class="mdl-navigation__link" href="./index.html">Overview</a>
      <a class="mdl-navigation__link" href="./mps.html">MPs</a>
      <a class="mdl-navigation__link" href="./labs.html">Lab Sections</a>
      <a class="mdl-navigation__link" href="./help.html">Getting Help</a>
      <a class="mdl-navigation__link" href="./schedule.html">Schedule</a>
      <a class="mdl-navigation__link" href="./honors.html">Honors</a>
      <a class="mdl-navigation__link" href="./staff.html">Meet the Crew!</a>
    {% endcapture %}
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">CS 241: System Programming</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {{ links }}
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">CS 241</span>
    <nav class="mdl-navigation">
      {{ links }}
    </nav>
  </div>