@font-face {
    font-family: Matrix;
    src: url(./css/fonts/matrix.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html {
  font-family: 'Roboto' !important;
}

a {
    text-decoration: none;
}

.content {
  margin: 0 auto;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.pad {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.scrollable {
  height: 100px;
  overflow-y: auto;
  overflow-x:hidden;
}

body {
  background-color: #FAFAFA !important;
}
