.large-card.mdl-card{
  width:100%;
  margin: 0 auto;
}

.schedule-card.mdl-card{
  width:100%;
}

.schedule__cell {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2%;
}

.overflow.mdl-card__title-text {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-x: auto;
}

:target {
   color: yellow !important;
}

// Staff Photo CSS
.card-staff.mdl-card {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

// Fix material's blockquote styling
blockquote p:last-child::after {
  position: absolute;
  font-size: 24px;
  content: '”';
}

blockquote::after {
  display: none;
}

// make code blocks (not in pre tags) stand out 
.content .highlighter-rouge {
	background-color: rgb(225, 233, 241);
}
