/*Some css fixes to use night theme with IPython slides*/
body {
background-color: #111111;
}

.reveal p, .reveal h1, .reveal h2, .reveal h3, div.input_prompt {
color: #f5f5f5 !important;
}
.reveal ul, ol {
color: white;
}
div.output_area pre {
color: white;
}
div.output_stderr {
background: #F00;
}
.reveal table th, .reveal table td {
color: white;
}

