<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      {% include header.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here -->
          <div class="row">
            <div class="small-12 medium-12 large-8 large-centered columns">
              <h1>{{ page.title }}</h1>
              <div id="content">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="./js/materialize.js"></script>
  </body>
</html>
