<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      {% include header.html %}
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="row">
            {% capture metadata %}
              {% if page.date %} <!-- this is a post -->
                <ul class="metadata">
                  {% if page.dueDates %}
                    <li><strong>Due date(s):</strong> <span class="due-date">{{ page.dueDates }}</span></li>
                  {% endif %}
                  <li class="github-date" style="display: none;"><strong>Last modified:</strong> <span class="github-date-value"></span></li>
                </ul>
              {% endif %}
            {% endcapture %}
            <nav id="toc" style="position: fixed" class="small-12 medium-12 large-3 columns show-for-xlarge-up">
              <br/>
              {{ metadata }}
            </nav>
            <div class="small-12 medium-12 large-7 large-centered columns">
              <h1>
                {{ page.title }}
                {% if page.date %}
                  <a class="github-link" href="https://github.com/{{ site.repository | uri_escape }}/blob/master/{{ page.path | uri_escape }}">Edit on Github</a>
                {% endif %}
              </h1>
              <nav id="tocMobile" class="small-12 medium-12 large-7 columns hide-for-xlarge-up">
                {{ metadata }}
              </nav>
              <div id="content">
                {{ content }}

                {% if page.date %}
				<h2 id="submission-instructions">Submission Instructions</h2>
				<p>
					Please fully read details on
					<a href="{{ site.url }}/#academic-integrity"> Academic Integrity </a>.
					These are shared between all MPs in CS 241.
				</p>
				<p>
					We will be using Subversion as our hand-in system this semester.
					Our grading system will checkout your most recent (pre-deadline) commit for grading.
					Therefore, to hand in your code, all you have to do is commit it to your Subversion repository.
				</p>
				<p>
					To check out the provided code for
					<code>{{ page.permalink }}</code>
					from the class repository, go to your cs241 directory (the one you checked out for "know your tools") and run:
					{% highlight text %}svn up{% endhighlight %}
				</p>
				<p>
					If you run <code>ls</code> you will now see a
					<code>{{ page.permalink }}</code> folder, where you can find this assignment! To commit your changes (send them to us) type:

					{% highlight text %}svn ci -m "{{ page.permalink }} submission"{% endhighlight %}
				</p>
				<p>
					Your repository directory can be viewed from a web browser from the following URL:
					<a
						href="https://subversion.ews.illinois.edu/svn/{{site.semester }}-{{ site.subject_code }}{{ site.course_number }}/NETID/{{ page.permalink }}">
						https://subversion.ews.illinois.edu/svn/{{site.semester }}-{{ site.subject_code }}{{ site.course_number }}/NETID/{{ page.permalink }}
					</a>
					where NETID is your University NetID.
					It is important to check that the files you expect to be graded are present and up to date in your SVN copy.
				</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      var github_repo = "{{ site.repository | escape }}";
      var github_path = "{{ page.path | escape }}";
    </script>
    <script src="./js/toc.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="./js/smoothscroll.js"></script>
    <script src="./js/github.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
